.Registration {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  height: 100%;
}
.Registration svg {
  width: 30px;
}
.Registration-form {
  text-align: center;
}
.Registration-list {
  padding: 0px !important;
  align-items: center;
  display: flex;
  flex-direction: column;
  row-gap: 14px;
}
.Registration-title {
  margin-bottom: 30px;
}
.Registration input {
  font-size: 18px;
  width: 541px;
  padding: 14px 0px 14px 20px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}
.Registration-form button {
  width: 100%;
  padding: 14px 0px;
  font-size: 20px;
  border-radius: 25px;
  background-color: #7533df;
  color: white;
  text-decoration: none;
  cursor: pointer;
  border: none;
  outline: none;
}
.grey-text {
  margin-top: 31px;
  color: #7d7d7d;
}

.img-block {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  column-gap: 25px;
}

.plitka {
  width: 80px;
  height: 50px;
  border: 1px solid #dadada;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}
